<div class="two-column">
    <div class="right">
      <!--搜索欄-->
      <nz-card [nzSize]="'small'" id="searchBar">
        <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" (ngSubmit)="submitSearch()">
          <nz-form-item>
            <nz-form-label [nzFor]="'name'">姓名</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="姓名" [formControlName]="'name'" [attr.id]="'name'"
                     autocomplete="off" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary">搜索</button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-card>
  
  
      <nz-card [nzSize]="'small'" id="rfqCard">
        <div>
          <button nz-button class="" (click)="add(addUserTitleTpl,userContentTp2)" *canOperate="'addCandidateBtn'"><i nz-icon nzType="plus"></i>建立應聘者</button>
          <button nz-button class="" (click)="refresh()"><i nz-icon nzType="sync"></i>刷新</button>
        </div>
        <div class="mt-10">
          <nz-table #dataTable nzSize="middle" [nzData]="data" nzShowPagination="false" nzFrontPagination="false"
          nzBordered="true" pagination="true">
            <thead>
              <tr>
                <th nzAlign="center" nzWidth="40px">操作</th>
                <th nzAlign="center" nzWidth="50px">應聘者姓名</th>
                <th nzAlign="center" nzWidth="50px">手機</th>
                <th nzAlign="center" nzWidth="80px">Email</th>
                <th nzAlign="center" nzWidth="50px">工作申請表</th>
                <th nzAlign="center" nzWidth="60px">個資使用同意書</th>
                <th nzAlign="center" nzWidth="60px">基本資料問題表</th>
                <th nzAlign="center" nzWidth="40px">狀態</th>                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of dataTable.data;let i = index">
                <td nzAlign="center" nzWidth="40px"><button nz-button nz-tooltip nzTooltipTitle="編輯" nzShape="circle"  (click)="edit(editUserTitleTpl,userContentTpl,data)" ><i nz-icon nzType="edit"></i></button>
                &nbsp;<button nz-button nz-tooltip nzTooltipTitle="刪除" nzShape="circle" (click)="delete(editUserTitleTpl,userContentTpl,data)" ><i nz-icon nzType="delete"></i></button></td>
                <td nzAlign="center" hidden>{{ data.candidateId }}</td>
                <td nzAlign="center" nzWidth="50px">{{ data.username }}</td>
                <td nzAlign="center" nzWidth="50px">{{ data.cellphone }}</td>
                <td nzAlign="center" nzWidth="80px">{{ data.email }}</td>
                <td nzAlign="center"><a href="javascript:void(0);"  *ngIf="data.status!=1" (click)="openwork(data.guid)">工作申請表</a></td>
                <td nzAlign="center"><a href="javascript:void(0);"  *ngIf="data.status!=1" (click)="openconsent(data.guid)">個資使用同意書</a></td>
                <td nzAlign="center" ><a href="javascript:void(0);" *ngIf="data.status!=1" (click)="openimformation(data.guid)">基本資料問題表</a></td>
                <td nzAlign="center" nzWidth="40px">{{ data.statusDesc }}</td>
                
              </tr>
            </tbody>            
          </nz-table>
        </div>
        <div class="mt-10">
          <nz-pagination [(nzPageSize)]="size" [(nzPageIndex)]="page" [nzTotal]="total" nzShowSizeChanger
                         nzShowQuickJumper (nzPageIndexChange)="pageChange()">
          </nz-pagination>
        </div>
      </nz-card>
  
  
    <ng-template #editUserTitleTpl>
        <span>编辑應聘者資料</span>
    </ng-template>
    <ng-template #userContentTpl>
        <form nz-form [formGroup]="editForm" (ngSubmit)="submitEdit()">
            <nz-form-item hidden>
                <nz-form-label [nzSm]="8" [nzXs]="20" [nzFor]="'edit_candidateId'">ID</nz-form-label>
                <nz-form-control [nzSm]="10" [nzXs]="20">
                    <input [attr.id]="'edit_candidateId'" formControlName="candidateId" nz-input placeholder="ID" autocomplete="off" />
                </nz-form-control>
              </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" [nzFor]="'edit_username'">應聘者</nz-form-label>
                <nz-form-control [nzSm]="10" [nzXs]="20" [nzErrorTip]="usernameErrorTpl">
                    <input [attr.id]="'edit_username'" formControlName="username" nz-input placeholder="應聘者"
                        autocomplete="off"/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="20" [nzFor]="'edit_cellphone'">手機</nz-form-label>
              <nz-form-control [nzSm]="10" [nzXs]="20">
                  <input [attr.id]="'edit_cellphone'" formControlName="cellphone" nz-input placeholder="手機" autocomplete="off" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" [nzFor]="'edit_email'">Email</nz-form-label>
                <nz-form-control [nzSm]="10" [nzXs]="20">
                    <input [attr.id]="'edit_email'" formControlName="email" nz-input placeholder="Email" autocomplete="off" />
                </nz-form-control>
            </nz-form-item>
  
            <nz-form-item>
                <nz-form-control [nzSpan]="14" [nzOffset]="8">
                    <button nz-button nzType="primary" class="mr-10">提交</button>
                    <button nz-button type="reset" (click)="cancelEdit()">取消</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>


    <ng-template #addUserTitleTpl>
        <span>新增應聘者資料</span>
    </ng-template>
    <ng-template #userContentTp2>
        <form nz-form [formGroup]="addForm" (ngSubmit)="submitadd()">
            <nz-form-item hidden>
                <nz-form-label [nzSm]="8" [nzXs]="20" [nzFor]="'add_candidateId'">ID</nz-form-label>
                <nz-form-control [nzSm]="10" [nzXs]="20">
                    <input [attr.id]="'add_candidateId'" formControlName="candidateId" nz-input placeholder="ID" autocomplete="off" />
                </nz-form-control>
              </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" [nzFor]="'add_username'">應聘者</nz-form-label>
                <nz-form-control [nzSm]="10" [nzXs]="20" [nzErrorTip]="usernameErrorTpl">
                    <input [attr.id]="'add_username'" formControlName="username" nz-input placeholder="應聘者"
                        autocomplete="off"/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="20" [nzFor]="'add_cellphone'">手機</nz-form-label>
              <nz-form-control [nzSm]="10" [nzXs]="20">
                  <input [attr.id]="'add_cellphone'" formControlName="cellphone" nz-input placeholder="手機" autocomplete="off" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="20" [nzFor]="'add_email'">Email</nz-form-label>
                <nz-form-control [nzSm]="10" [nzXs]="20">
                    <input [attr.id]="'add_email'" formControlName="email" nz-input placeholder="Email" autocomplete="off" />
                </nz-form-control>
            </nz-form-item>
            <!-- <nz-form-item>
              <nz-form-label [nzSm]="8" [nzXs]="20" [nzFor]="'add_status'">狀態</nz-form-label>
              <nz-form-control [nzSm]="10" [nzXs]="20">
                  <input [attr.id]="'add_status'" formControlName="status" nz-input
                      placeholder="狀態" autocomplete="off" readonly="readonly" style="background-color:#F5F5F5"/>
              </nz-form-control>
            </nz-form-item> -->
  
            <nz-form-item>
                <nz-form-control [nzSpan]="14" [nzOffset]="8">
                    <button nz-button nzType="primary" class="mr-10">提交</button>
                    <button nz-button type="reset" (click)="canceladd()">取消</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>
  
    </div>
  </div>
  
  
  