<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CF.BPM.Helper" version="1.0.2" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess" version="19.11.0" targetFramework="net472" />
  <package id="sapnco3.x64" version="3.0.2.0" targetFramework="net472" />
</packages>